@import "@/app/global.scss";

.infoBar {
  width: 100%;
  display: flex;
  max-height: 200px;
  justify-content: center;
  padding: 40px 0;
  position: relative;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  overflow: hidden;
  background: radial-gradient(red, black)
}

.silkBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
}

.progressOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.5) var(--track-progress, 0%),
      rgba(0, 0, 0, 0.3) var(--track-progress, 0%),
      rgba(0, 0, 0, 0.3) 100%);
  backdrop-filter: blur(5px);
  will-change: background;
  z-index: 1;
}

.infoBarContent {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  position: relative;
  z-index: 2;
}

.userInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.userContent {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;

  >.container {
    align-items: flex-end;

    >span {
      align-self: flex-end;
    }
  }
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.userNameContainer {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  max-width: 40vw;
  white-space: nowrap;

  >div>div:not(:first-child) {
    display: none;
  }
}

.userName {
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  white-space: nowrap;
}

.divider {
  width: 3px;
  height: 100px;
  background: linear-gradient(180deg,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 100%);
  flex-shrink: 0;
}

.trackInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  padding-left: 40px;
}

.trackNameContainer {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;

  >div>div:not(:first-child) {
    display: none;
  }
}

.trackName {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  white-space: nowrap;
}

.artistContainer {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;

  >div>div:not(:first-child) {
    display: none;
  }
}

.artist {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  white-space: nowrap;
}