@import "@/app/global.scss";

// Контейнер для режима Video
.videoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
}

// Контейнер для режима NoVideo
.noVideoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  overflow: hidden;
}

// Контейнер для режима AudioOnly
.audioOnlyContainer {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background: transparent;
}

// Видео плеер (режим Video)
.videoPlayer {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  visibility: visible;
  opacity: 1;
}

// Скрытый плеер (режимы NoVideo и AudioOnly)
// Плеер остаётся в DOM, но визуально скрыт
.hiddenPlayer {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Обёртка для InfoBar в режиме NoVideo - абсолютное позиционирование внизу
.infoBarBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

