.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: black;
}

.videoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #825cec;
  overflow: hidden;
}