// Message.module.scss
.container {
  height: auto;
  max-height: 8vh;
  min-height: 3vh;
  margin-top: 1vh;
}

.head {
  height: 50%;
}

.badgesAndNickname {
  height: 100%;
  width: 100%;
}

.badges {
  display: inline-block;
  height: auto;

  > img {
    height: auto;

    width: auto;
  }
}

.nickname {
  display: inline-block;
}

.messageWrapper {
  height: auto;
}

.message {
  height: auto;

  > img {
    height: auto;
  }

  > div {
    height: auto;

    > img {
      height: auto;
    }
  }
}
