.chatContainer {
  display: flex;
  flex-direction: column-reverse; /* Магия здесь! */
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  gap: 2.5%; /* Отступ между сообщениями */
  margin: 1px;
}

.chatContainer::-webkit-scrollbar {
  display: none;
}