.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 60px;
  padding: 5px 0;
  gap: 1%;
  /* background: #181818; */
}

.left {
  width: 100%;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 40px;
  border-radius: 12px;
  padding: 8px 16px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 40px;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.badges {
  display: flex;
  align-items: center;
  gap: 4px;
  > img {
    max-height: 1.5em;
  }
}

.nickname {
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  white-space: nowrap;
  margin-left: 8px;
}

.message {
  display: inline;
  word-wrap: break-word;
  color: white;
  font-size: 2em;
  text-align: center;
}

.linkStub {
  color: #39ff14;
  text-decoration: underline;
  text-decoration-color: #39ff14;
  font-weight: 500;
}

.role {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  gap: inherit;
  padding: inherit;
  border-radius: 12px;
  align-content: center;
  flex-wrap: nowrap;
}
