// ChatVertical.module.scss
.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column-reverse; // Убрали reverse
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  gap: 0.2%;
  left: 0;
  bottom: 0;
  box-sizing: content-box;
  justify-content: flex-start; // Добавили это, чтобы контент прижимался к низу
}

.chatContainer::-webkit-scrollbar {
  display: none;
}
